{% load i18n %}
<ul class="nav navbar-nav topnav left">
    {% for i in menu %}
        {% if i.children > 0 %}
            <li class="dropdown {{ i.class }}">
                <a href="{{ i.url }}"><i class="{{ i.icon_class }}"></i> {{ i.name }}</a>
                <ul class="dropdown-menu" style="display: none;">
                    {% for j in i.children %}
                        {% if j.children > 0 %}
                            <li class="dropdown"><a href="{{ j.url }}"> {{ j.name }}</a>
                                <ul class="dropdown-menu sub-menu" style="display: none;">
                                    {% for k in j.children %}
                                        <li><a href="{{ k.url }}"> {{ k.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ j.url }}"> {{ j.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li><a href="{{ i.url }}"> {{ i.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<ul class="nav navbar-nav topnav pull-right">
    {% if user.is_active and user.is_staff %}
        <li class="dropdown info">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                {% trans ' ' %} {% filter force_escape %}
                {% firstof user.first_name user.username %}{% endfilter %}</a>
            <ul id="g-account-menu" class="dropdown-menu">
                <li><a href="{% url 'profile_change' %}"><i class="show-sm fa fa-sign-out"></i><span
                        class="hide-sm">{% trans 'Profili Düzenle' %}</span></a></li>
                <li><a href="{% url 'password_change' %}"><i class="show-sm fa fa-sign-out"></i><span
                        class="hide-sm">{% trans 'Şifre Değiştir' %}</span></a></li>
                <li><a href="{% url 'auth_logout' %}"><i class="show-sm fa fa-sign-out"></i><span
                        class="hide-sm">{% trans 'Çıkış' %}</span></a></li>
            </ul>
        </li>
    {% endif %}
</ul>
